* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Figtree", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  color: white;
  width: 5vh;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background: #555;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.burger span {
  width: 100%;
  height: 3px;
  background: white;
  transition: all 0.3s ease;
}

.section {
  min-height: 100vh;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section:nth-child(odd) {
  background: #f4f4f4;
}

.custom-swal-button {
  background-color: #042e82;
  color: #fff; /* Warna teks putih agar kontras */
  border: none;
  font-family: "Figtree", sans-serif; /* Menggunakan font Figtree saat hover */

  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.custom-swal-button:hover {
  background-color: #031e5c; /* Efek hover lebih gelap */
  font-family: "Figtree", sans-serif; /* Menggunakan font Figtree saat hover */
  transition: background-color 0.3s ease; /* Transisi halus saat hover */
}

#sec-1 {
  background: url("../assets/img/hearts-bg.png") no-repeat center center fixed;
  background-size: cover;
  flex-direction: column;
}

.head-message {
  font-size: 2rem;
  color: #22021f;
  text-align: center;
  margin-bottom: 1rem;
}

.message-text {
  font-size: 1.5rem;
  color: #22021f;
  text-align: justify;
  margin-bottom: 2rem;
}

.next-btn {
  /* height:8vh;
  width: 20vh; */
  padding: 10px 20px;
  background-color: #551a57;
  color: #f0bde5;
  border: none;
  font-family: "Figtree", sans-serif;
  font-size: 1.15rem;
  border-radius: 50px;
  font-style: none;
  text-decoration: none;
}

#sec-2 {
  background: url("../assets/img/heart-bg-2.png") no-repeat center center fixed;
  background-size: cover;
  flex-direction: column;
}

#sec-2 .head-message {
  font-size: 2rem;
  color: #22021f;
  text-align: center;
  margin-bottom: 1rem;
}

#sec-2 .message-text {
  font-size: 1.5rem;
  color: #22021f;
  text-align: justify;
  margin-bottom: 2rem;
}

.message-container {
  backdrop-filter: blur(8px) saturate(159%);
  -webkit-backdrop-filter: blur(8px) saturate(159%);
  background-color: rgba(225, 178, 236, 0.15);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 2rem;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 57px;
    left: 0;
    height: calc(100vh - 57px);
    width: 70%;
    background: #333;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .nav-links li {
    margin: 1rem 0;
  }
}
